<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello index</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate delectus reprehenderit dignissimos similique magnam nobis. Saepe fugiat architecto itaque. Corporis quisquam qui incidunt repellendus beatae, blanditiis reiciendis tenetur itaque.</p>
    <img src="../static/img1.png" alt="" srcset="" width="350px" height="170px">
    <ul>
        <li><a href="/" target="_blank"">Home</a></li>
        <li><a href="{{url_for('about')}}" target="_blank"">About</a></li>
    </ul>
</body>
</html>